## Ant / Intellij

*.el
*.ipr
*.iws
*.pif
*.snap
*.iml
docs
.ant.properties
.classpath
.DS_Store
.project
.settings
bin
classes
apache-ant-1.*
bootstrap
build
dist
distribution
java-repository
patch.tar.gz
patch.txt
target
velocity.log*
lib/optional/*.jar
src/tests/antunit/core/output
/src/GPATH
/src/GRTAGS
/src/GSYMS
/src/GTAGS
/log.xml
lib/optional/license.txt
/release/distrib
.idea
.idea_modules
out
testreport
